/* Fonts: Colfax (sans-serif) - for text, Nulshock (Light) - for titles/headings */

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
    color: rgb(200, 200, 200);
}

.rlred {
    color: rgb(225, 39, 38);
}

.b--rlred {
    border-color:  rgb(225, 39, 38);
}